<form method="post" action="{{ path('calender_delete', {'id': calend.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calend.id) }}">
    <button class="btn">Delete</button>
</form>
